.ChatMessages {
    height: 600px;
    border: 1px solid #546e7a;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    overflow-y: auto;

    .message-item {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

       .message-item-header {
            display: flex;

            .message-item-user {
                margin-bottom: 10px;
                flex: 1;
                color: #303030;
                font-weight: 500;
                font-size: 12px;
                line-height: 150%;
            }

            .message-item-time {
                color: #D1D1D1;
                font-size: 12px;
                line-height: 150%;
            }
       }

        .message-item-text {
            background: #F3F3F3;
            border-radius: 4px;
            padding: 14px 24px;
            color: #4F4F4F;
            font-size: 12px;
            line-height: 150%;
            display: flex;
            align-items: center;
        }
    }
}