.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .App-content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .App-navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    ul {
      padding: 0.5rem 1rem;
      list-style: none;
      display: flex;

      li {
        margin-right: 1rem;

        a {
          text-decoration: none;
          color: #e91e63;
          font-weight: 600;
          font-size: 1.2rem;
          padding: 0.5rem 0;

          &:hover {
            border-bottom: 2px solid #e91e63;
          }
        }
      }
    }
  }
}

.form-group {
  margin-bottom: 1rem;

  .form-error {
    color: red;
  }
}

.form-control {
  height: 25px;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid grey;
  font-size: 1.2rem;
}